*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.btn {
  background: #4D5B9E;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

/* ==== loading ==== */
.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ==== background ==== */
.container {
  position: relative;
  background: #F5F7FB;
  border: none;
  width: 100%;
  height: 100vh;
  padding: 50px 50px;
  overflow: hidden;
  display: flex;
}

.bg-yellow-block {
  position: absolute;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
  border-radius: 60% 30%;
  width: 400px;
  height: 400px;
  right: -15%;
  top: -20%;
}

.bg-blue-block {
  background: #DEEBF8;
  position: absolute;
  border-radius: 10% 50%;
  width: 200px;
  height: 200px;
  bottom: -10%;
  left: -10%;
  transform: rotate(40deg);
}

/* ==== Cover ==== */

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cover-container h1 {
  font-weight: 700;
  line-height: 37px;
  color: #293264;
  margin: 10px 0;
}

.cover-container p {
  font-family: 'Inter';
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #293264;
  margin: 10px 0;
}

.cover-container .btn-start {
  padding: 10px 20px;
  border: none;
  background: #4D5B9E;
  border-radius: 15px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  margin-top: 10px;
  cursor: pointer;
}


/* ==== Quiz ==== */
.quizes-container {
  z-index: 1;
  padding: 20px;
  overflow: scroll;
  scroll-behavior: smooth; 
}

.quiz-container {
  margin: 20px 0;
}

.quiz-container .quiz-question {
  padding-bottom: 20px;
  color: #293264;
  font-weight: 700;
}

.quiz-container hr {
  margin-top: 20px;
  border: 1px solid #DBDEF0;
}

.quiz-container .quiz-ans-container {
  display: flex;
}

.quiz-ans {
  font-family: 'Inter';
  border: 1px solid #4D5B9E;
  margin: 5px;
  padding: 5px 15px;
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  background: #F5F7FB;
}

.selected {
  background: #DBDEF0;
  border: none;
}

.correct_ans {
  background: #94D7A2  ;
}

.incorrect_ans {
  background: #F8BCBC;
  opacity: 0.5;
}

.other_incorrect_ans {
  opacity: 0.5;
}

.quiz-score-container { 
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quiz-score-container button {
  width: fit-content;
  margin: 0;
}

.quiz-score-container h3 {
  width: fit-content;
  margin: 0;
}

.quiz-check-answer-container {
  display: flex;
  flex-direction: column;
}

.quiz-check-answer-container p {
  margin-top: 10px;
  color: red;
  font-size: 15px;
}